body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    padding-top: 50px; /* Spazio sopra per evitare che il contenuto si sovrapponga all'immagine */
}

header {
    background-color: #f3f4f6;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
    margin-bottom: 5px;
    position: relative; /* Mantiene il posizionamento corretto dell'immagine */
}

h1 {
    font-size: 30px;
    color: #1a3e9e;
    font-weight: 700;
    margin: 0;
}

#refreshImage {
    width: 24px; /* Imposta la larghezza dell'immagine */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    cursor: pointer;
    position: absolute; /* Posiziona l'immagine rispetto al contenitore */
    top: 10px; /* Distanza dal bordo superiore */
    right: 20px; /* Distanza dal bordo destro */
}

main {
    padding: 0 20px;
    background-color: #f3f4f6;
    margin-top: 50px; /* Sposta tutto il contenuto verso il basso */
}

h2 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    margin-top: 20px;
}

/* Stile del biglietto scelto con bordo giallo */
.ticket-card {
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #fede00;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ticket-info {
    background-color: #fff;
    padding: 15px;
}

.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-info h3 {
    font-size: 25px;
    color: #1a3e9e;
    font-weight: 500;
    margin: 0;
}

.info-button-image {
    background: none;
    border: none;
    cursor: pointer;
}

.info-button-image img {
    width: 20px; /* Imposta la larghezza dell'immagine del pulsante */
    height: auto; /* Mantiene le proporzioni dell'immagine */
}

/* Sezione immagine, pulsante e testo affiancato */
.ticket-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ticket-content img {
    width: 130px;
    height: auto;
    margin-top: 5px;
}

.button-image {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Rimuove il padding */
}

.button-image img {
    width: 50px; /* Imposta la larghezza dell'immagine del pulsante */
    height: auto; /* Mantiene le proporzioni dell'immagine */
    margin: 0 10px; /* Aggiungi margine per spazio laterale */
}

.tornello-text {
    text-align: right;
    flex: 1;
}

.bippami-text {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.bippami-text br {
    content: "";
    margin: 0;
}


/* Sezione Validato con sfondo blu, ma parte della stessa card */
.ticket-validato {
    background-color: #1a3e9e;
    color: #fede00; /* Cambia il colore del testo a giallo */
    padding: 10px 15px;
    display: flex;
    flex-direction: column; /* Cambia la direzione in colonna */
    align-items: flex-start; /* Allinea il contenuto a sinistra */
    border-radius: 0 0 10px 10px;
}

.ticket-validato h4 {
    font-size: 16px;
    color: #fede00; /* Cambia il colore del testo a giallo */
    font-weight: 700;
    margin: 0;
}

/* Sezione delle informazioni della data */
.ticket-validato .date-info {
    font-size: 14px;
    color: #fff;
    margin: 0;
    display: flex;
    align-items: center; /* Allinea verticalmente */
    width: 100%;
}

.date-info span {
    font-weight: 700;
    margin-right: 15px; /* Spazio a destra per ogni elemento */
}

/* Riduci la dimensione del font per "Fino al" */
.fino-al {
    font-size: 12px; /* Riduci la dimensione del font */
    margin-right: 15px; /* Spazio a destra per "Fino al" */
}

#acquistaButton {
    background-color: #fede00;
    color: #1a3e9e;
    padding: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    font-weight: 700;
}

footer {
    background-color: #1a3e9e;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

footer button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}
