body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

h1 {
    font-size: 24px;
    color: #1a3e9e;
    font-weight: 700; /* Roboto Bold */
}

#refreshButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#bigliettiDisponibili {
    padding: 20px;
}

h2 {
    font-size: 18px;
    color: #000;
    font-weight: 500; /* Roboto Medium */
}

.ticket-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-info h3 {
    font-size: 18px;
    color: #1a3e9e;
    font-weight: 700; /* Roboto Bold */
}

.ticket-info img {
    width: 80px;
}

.ticket-actions button {
    background-color: #1a3e9e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500; /* Roboto Medium */
}

#acquistaButton {
    background-color: #fede00;
    color: #1a3e9e;
    padding: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    font-weight: 700; /* Roboto Bold */
}

footer {
    background-color: #1a3e9e;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

footer button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500; /* Roboto Medium */
}
