body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f4f6; /* Colore di sfondo uniforme */
    margin: 0;
    padding: 0;
}

header {
    background-color: #f3f4f6; /* Stesso sfondo di "Biglietti Disponibili" */
    padding: 10px 20px; /* Padding uniforme */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none; /* Rimuove eventuali bordi */
    margin-bottom: 5px; /* Riduce lo spazio sotto "Biglietti" */
}

h1 {
    font-size: 30px;
    color: #1a3e9e;
    font-weight: 700; /* Roboto Bold */
    margin: 0; /* Elimina spazio extra intorno al titolo */
}

#refreshButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

#bigliettiDisponibili {
    padding: 10px 20px; /* Ridotto il padding per ridurre lo spazio */
    background-color: #f3f4f6; /* Stesso sfondo per questa sezione */
    margin-top: 0; /* Elimina ulteriore spazio sopra "Biglietti Disponibili" */
}

h2 {
    font-size: 20px;
    color: #000;
    font-weight: 400; /* Roboto Medium */
    margin: 5px 1; /* Riduce lo spazio tra "Biglietti Disponibili" e gli altri elementi */
}

.ticket-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px; /* Ridotto lo spazio sotto ogni ticket */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-info h3 {
    font-size: 25px;
    color: #1a3e9e;
    font-weight: 500; /* Roboto Bold */
    margin-bottom: 20px;
    margin-top: 10px; /* Elimina margini extra intorno alla scritta "City" */
}

.ticket-info img {
    width: 120px; /* Dimensione immagine */
    height: auto;  /* Mantiene le proporzioni originali */
}

.ticket-actions button {
    background-color: #1a3e9e;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 500; /* Roboto Medium */
}

#acquistaButton {
    background-color: #fede00;
    color: #1a3e9e;
    padding: 15px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 18px;
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    font-weight: 700; /* Roboto Bold */
}

footer {
    background-color: #1a3e9e;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
}

footer button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500; /* Roboto Medium */
}
